# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=inventory_db
DB_PORT=5432
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=inventory-service-group

# JWT
JWT_SECRET=secret

# Config Service
CONFIG_SERVICE_URL=localhost:50051
